* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tahoma', 'Helvetica Neue';
}

main {
    padding: 10px;
    margin: 0 auto;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

#resultado {
    width: 100%;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
    border: 1px dotted black;
}

img {
    width: 100px;
}

input {
    width: 50%;
    height: 30px;
    border: none;
    background-color: rgb(207, 206, 206);
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

button {
    width: 50%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    text-transform: uppercase;
}

label {
    text-align: left;
    width: 50%;
}

.ocultar {
    display: none;
}

/* removendo as setas que ficam dentro do input */
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}