* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Tahoma', arial;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.inputs {
    width: 200px;
    height: 70px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.buttons {
    width: 80px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-limpar {
    width: 200px;
    height: 30px;
}

#operadores {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    width: 200px;
}

#resultado {
    width: 200px;
    height: 100px;
    font-size: 20px;
    background-color: #fff;
    border: 1px dotted black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 550;
    padding: 2px;
}

/* removendo as setas que ficam dentro do input */
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}