@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(bg2.avif);
    background-size: auto;
    
}

html {
    scroll-behavior: smooth;
}

:root {
    --verde-claro: rgb(111, 190, 101);
    --branco: rgb(255, 255, 255);
    --verde-escuro: rgb(36, 94, 28);
    --azul: #12abd9;
}

header {
    margin: 0 auto;
    margin-top: 10px;
    background-color: var(--branco);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.menu ul{
    display: flex;
    list-style: none;  
}

.menu li {
    margin: 10px;
}

main {
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    display: flex;
    background-color: var(--branco);
    border-radius: 10px;
    flex-direction: column;
}

h2 {
    font-size: 1.4rem;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--azul);
}

p {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
    padding: 10px;
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: var(--azul);
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.logoTurismo {
    height: 79px;
}

.imgOutrosLugares {
    width: 500px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 5px;
}

.conteudoPrincipal {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.menu-conteudoPrincipal {
    display: flex;
    justify-content: space-around;
}

.menu-conteudoPrincipal ul {
    background-color:rgb(19, 19, 19);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: var(--branco);
    display: flex;   
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu-conteudoPrincipal ul p{
    display: flex;   
    justify-content: center;
    flex-direction: column;
}

.menu-conteudoPrincipal li {
    padding: 10px;
}

.menu-conteudoPrincipal a:hover {
    color: var(--branco);
    transition: 0.9s;
}

.menu a, .menu-conteudoPrincipal a {
    text-decoration: none;
    color: var(--azul);
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

#zoo .imgOutrosLugares:nth-child(3) {
    margin-bottom: 40px;
}

#boaViagem::after, #shopping::after, #marcoZero::after, #zoo::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--azul);
    margin-top: 20px;
}